*{
    margin: 0;
    padding: 0;
   
}
body {
    background-color: lavenderblush;
    /* margin:140px; */


   
}
.text {
    background-color: antiquewhite;
    align-items: center;
   
    border-radius: 10px;

}


.date{
    background-color:whitesmoke;
    border-radius: 10px;
}
to-do-list{
    color: red;
}
input{
    width:50%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-radius: 15px;
    height:100vh;
    gap:10px;
    line-height: 10px;
    row-gap: 10px;
    column-gap: 10px;
    width:100%;
    color: black;
} 
#input{
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
    
    ;
}
main{
    width:50%;
    height: 50%;
    text-align: center;
    margin-top:15px;
    padding: 20px;
    background: linear-gradient(235deg,#153677,#4e085f) ;

}
#to-do-list{
   font-size: 1.5rem;
   gap:30px;
}
.click{
    border-radius: 10px;
    background-color: lightgreen;
}
h1{
    color:white;
    text-shadow: 2px 2px 4px #000000;
}
